.borderedTable {
	border : 1 solid Black;
}

.tablehead {
	background-color : #808080;
  font-family : Arial, Helvetica, sans-serif;
  font-size : small;
	font-style : normal;
	font-weight : bold;
	color : White;
	padding-left : 5;
	padding-top : 3;
	padding-bottom : 3;
}

.tablebody {
	background-color : #E0E0E0;
	font : Arial;
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	padding-left : 5;
	padding-top : 3;
}

.catLink {
	font-family : Arial, Helvetica, sans-serif;
	font : Arial;
	font-size : x-small;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	padding-left : 5;
	padding-top : 3;
	color : Blue;
	text-decoration : none;
}
