<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   
   <system.windows.forms jitDebugging="false" />
   
    <appSettings>
      <add key="server" value="Zaphod" />
      <add key="trustedConnection" value="false" />
      <add key="userId" value="Trillian" />
      <add key="password" value="42" />
    </appSettings>

</configuration>

